* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #151414;
    font-weight: 700;
}

p,
li {
    color: #737272;
}

.my-130 {
    margin: 130px 0;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    border: 0;
}

/* Header Section Styles */
.header {
    padding: 0 130px;
    padding-top: 215px;
    padding-bottom: 165px;
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.banner-content {
    width: 525px;
    float: right;
    text-align: right;
}

.banner-title {
    font-size: 65px;
}

.banner-description {
    margin: 24px 0 30px;
}

/* My Failure Section Styles */
.main-content {
    width: 1140px;
    margin: 0 auto;
}

.my-failures {
    display: flex;
    gap: 85px;
    align-items: center;
}

.my-failure {
    width: 415px;
    margin-top: 200px;
}

.my-failure-title {
    font-size: 40px;
}

.my-failure-description {
    margin: 24px 0 15px;
}

.my-failure-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.my-failure-list li {
    list-style: none;
}

.fa-check {
    margin-right: 10px;
}

/* My Plans Section Styles */
.section-title {
    font-size: 40px;
    text-align: center;
}

.my-plan {
    display: flex;
    gap: 86px;
    justify-content: center;
    margin: 55px 0 125px;
}

.single-plan {
    text-align: center;
}

.single-plan-title {
    margin: 24px 0 15px;
    font-size: 30px;
}

.single-plan-description {
    font-size: 25px;
}

.call-now {
    background: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    padding: 84px 0px 83px 64px;
}

.call-now-title {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 24px;
}

.call-now-btn {
    padding-left: 35px;
    padding-right: 35px;
    color: #F15B22;
    background-color: #ffffff;
}

/* Skills Achive Section Styles */
.skills-achive .section-title {
    margin-bottom: 70px;
}

.top-section-skills,
.bottom-section-skills {
    display: flex;
    gap: 30px;
}

.top-section-skills {
    margin-bottom: 50px;
}

.single-skill {
    display: flex;
    width: 360px;
}

.single-skill img {
    width: 32px;
    height: 32px;
}

.single-skill-info {
    margin-left: 15px;
}

.single-skill-title {
    font-size: 20px;
    margin-bottom: 10px;
}